<mat-list>
    <mat-list-item>
        <a mat-button [routerLink]= "'cliente'">Clientes</a> 
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <a mat-button [routerLink]= "'productos'">Productos</a> 
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <a mat-button [routerLink]= "'productos'">Proveedor</a> 
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <a mat-button [routerLink]= "'compra-venta'">Compra/Venta</a> 
    </mat-list-item>
    <mat-divider></mat-divider>
    <!--Agregar aqui menus reemplazar el routerLink-->
    <!-- <mat-list-item>
        <a mat-button [routerLink]= "'#'">Item 2</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <a mat-button [routerLink]= "'#'">Item 3</a>
    </mat-list-item> -->
</mat-list>
  