<div class="tabla-cliente">
    <br>
    <h1>Proveedor</h1>
    <br>
    <mat-icon>search</mat-icon>
    <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="filtrar($event)" placeholder="buscar">
      </mat-form-field>

    <br>
        <button mat-raised-button color="primary" (click)="openDialogAgregar()" > Agregar</button>
    <br><br>

    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>

        <ng-container matColumnDef="ruc">
            <th mat-header-cell *matHeaderCellDef> Ruc </th>
            <td mat-cell *matCellDef="let element"> {{element.ruc}} </td>
        </ng-container>

        <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef> Nombres </th>
            <td mat-cell *matCellDef="let element" > {{element.nombres}} </td>
        </ng-container>

        <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef> Dirección </th>
            <td mat-cell *matCellDef="let element" > {{element.direccion}} </td>
        </ng-container>

        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> Telefóno </th>
            <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Correo electrónico </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>  
        
        
        </ng-container>
        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element; let i = index" >
                <button mat-button color="primary" (click)="modificarProveedor(element, i)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-button color="warn" (click)="eliminarProveedor(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>  
        </ng-container>
    
    

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
    </table>

</div>