<mat-card> 
    <div style="text-align:center;">
        <mat-card-title>Modificar Producto</mat-card-title>
    </div>   
    <br>
    <form [formGroup]="productoNuevo">
        <mat-form-field class="campos-field">
            <input matInput placeholder="Codigo" formControlName="codigo" [(ngModel)]="data.comp.codigo">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Categoria" formControlName="categoria" [(ngModel)]="data.comp.categoria">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="IdProveedor" formControlName="idProveedor" [(ngModel)]="data.comp.idProveedor">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Descripcion" formControlName="descripcion" [(ngModel)]="data.comp.descripcion">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="PresioVenta" formControlName="presioVenta" [(ngModel)]="data.comp.presioVenta">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="PresioCompra" formControlName="presioCompra" [(ngModel)]="data.comp.presioCompra">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Stock" formControlName="stock" [(ngModel)]="data.comp.stock">
        </mat-form-field>

        <button mat-raised-button [disabled] = "!productoNuevo.valid" (click)="onSubmit(data.comp.codigo)">Aceptar</button>  
        <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>      
    </form>
    
</mat-card>